@import "root.scss";
@import "breakpoints";

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
  cursor: url(../assets/cursor.png) 0 28, auto;
  height: 100%;
  @include media("<=phone") {
    overflow: auto;
  }
}

::selection {
  background-color: var(--darkgrey);
  color: var(--lightgrey);
}

.dsnbycal {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: var(--pd20);
  color: var(--lightgrey);
  a {
    text-decoration: underline;
  }
  a:hover {
    text-decoration: none;
  }
}
.dsnbycal-mobile {
  margin-bottom: var(--pd20);
  color: var(--black);
  a {
    text-decoration: underline;
  }
  @include media(">phone") {
    display: none;
  }
}

.bg {
  @include media("<=phone") {
    display: none;
  }
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.wrapper {
  @include media("<=phone") {
    padding: var(--pd20);
    justify-content: flex-start;
    position: relative;
    background-color: transparent;
    filter: none;
  }
  background-color: var(--lightgrey);
  height: 100%;
  width: 100%;
  padding: var(--pd40);
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  filter: drop-shadow(4px 4px 15px rgba(0, 0, 0, 0.5));
}

@media only screen and (min-height: 640px) {
  @media only screen and (min-width: 900px) {
    .wrapper {
      width: 900px;
      height: 640px;
    }
    .dsnbycal {
      display: block;
    }
  }
}

.br-mobile {
  display: none;
  @include media("<=phone") {
    display: block;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  @include media("<=phone") {
    height: fit-content;
    width: 100%;
    margin-bottom: var(--pd40);
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  img {
    @include media("<=phone") {
      height: 70px;
      width: auto;
      margin-bottom: var(--pd20);
    }
  }
  &__item-container {
    @include media("<=phone") {
      justify-content: flex-start;
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      width: 100%;
    }
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    height: fit-content;
    width: auto;
  }
  &__item {
    cursor: url(../assets/cursor.png) 0 28, auto;
    list-style: none;
  }
  &__item:hover .english {
    display: none;
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    -ms-animation: fadein 2s;
    -o-animation: fadein 2s;
    animation: fadein 2s;
  }
  &__item:hover .japanese {
    display: block;
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    -ms-animation: fadein 2s;
    -o-animation: fadein 2s;
    animation: fadein 2s;
  }
  li .japanese {
    display: none;
  }
}

#header__item {
  margin-left: var(--pd10);
  @include media("<=phone") {
    margin-bottom: var(--pd10);
  }
}
#header__item:first-child {
  margin-left: 0;
}

#gtw,
#folio,
#linkedin,
#insta {
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#gtw {
  width: 85px;
}
#folio {
  width: 37px;
}
#linkedin {
  width: 61px;
}
#insta {
  width: 73px;
}

.content {
  @include media("<=phone") {
    flex-direction: column;
  }
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.about {
  @include media("<=phone") {
    width: 100%;
  }
  width: 390px;
  height: auto;
  &__subtitle {
    border-bottom: 1px solid var(--darkgrey);
  }
  &__copy {
    margin-top: var(--pd20);
    @include media("<=phone") {
      margin-bottom: var(--pd20);
    }
  }
}

.misc {
  width: 390px;
  height: auto;
  display: flex;
  flex-direction: column;
  @include media("<=phone") {
    flex-direction: column-reverse;
    width: 100%;
  }

  &__current {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: var(--pd40);
    @include media("<=phone") {
      margin-bottom: var(--pd20);
      margin-top: var(--pd40);
    }
  }
  &__hab,
  &__wri {
    width: 180px;
    height: auto;
  }
  &__words-title {
    border-bottom: 1px solid var(--darkgrey);
    margin-bottom: var(--pd10);
  }
  &__words-books {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    @include media("<=phone") {
      a {
        padding: 10px;
      }
      flex-wrap: wrap;
      justify-content: flex-start;
      width: 100%;
    }
  }
  &__book-imgs {
    cursor: url(../assets/cursor.png) 0 28, auto;
    @include media("<=phone") {
      width: 50%;
    }
    img {
      width: 126px;
      height: 168px;
      @include media("<=phone") {
        width: 100%;
        height: auto;
      }
    }
  }
  &__book-imgs:hover {
    filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.5));
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
