:root {
  --lightgrey: #f5f5f5;
  --darkgrey: #282828;
  --black: black;
  --white: white;
  --h1: 24px;
  --h2: 18px;
  --b1: 14px;
  --b2: 12px;
  --caption: 8px;
  --pd40: 40px;
  --pd20: 20px;
  --pd10: 10px;
}

*,
:after,
:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  text-decoration: inherit;
  color: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

a {
  cursor: url(../assets/cursor.png) 0 28, auto;
  text-decoration: none;
  display: inline-block;
}

.h1 {
  font-size: var(--h1);
  text-transform: uppercase;
  color: var(--darkgrey);
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 26.4px;
}

.h2 {
  font-size: var(--h2);
  text-transform: uppercase;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 19.8px;
}

.b1 {
  font-size: var(--b1);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 15.4px;
}

.b2 {
  font-size: var(--b2);
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 9.6px;
}

.btn {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
  font-size: var(--b2);
  line-height: 9.6px;
  border: 1px solid var(--darkgrey);
  display: inline-block;
  padding: var(--pd10);
}

.caption {
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--caption);
  line-height: 9.6px;
}

/**
*
* Testing
*
**/
html,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
  cursor: url(../assets/cursor.png) 0 28, auto;
  height: 100%;
}

@media (max-width: 480px) {
  html,
  body {
    overflow: auto;
    cursor: none;
    height: 100%;
    background-color: var(--lightgrey);
  }
}

::-moz-selection {
  background-color: var(--darkgrey);
  color: var(--lightgrey);
}

::selection {
  background-color: var(--darkgrey);
  color: var(--lightgrey);
}

.dsnbycal {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: var(--pd20);
  color: var(--lightgrey);
}

.dsnbycal a {
  text-decoration: underline;
}

.dsnbycal a:hover {
  text-decoration: none;
}

@media (max-width: 480px) {
  .dsnbycal {
    display: none;
  }
}

.dsnbycal-mobile {
  margin-bottom: var(--pd20);
  color: var(--black);
}

.dsnbycal-mobile a {
  text-decoration: underline;
}

@media (min-width: 481px) {
  .dsnbycal-mobile {
    display: none;
  }
}

.bg {
  z-index: -1;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 480px) {
  .bg {
    display: none;
  }
}

.wrapper {
  height: 100%;
  width: 100%;
  background-color: var(--lightgrey);
  padding: var(--pd40);
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-filter: drop-shadow(4px 4px 15px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(4px 4px 15px rgba(0, 0, 0, 0.5));
}

@media (max-width: 480px) {
  .wrapper {
    padding: var(--pd20);
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media only screen and (min-height: 640px) and (min-width: 900px) {
  .wrapper {
    width: 900px;
    height: 640px;
  }
}

.br-mobile {
  display: none;
}

@media (max-width: 480px) {
  .br-mobile {
    display: block;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 480px) {
  .header {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    margin-bottom: var(--pd40);
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 480px) {
  .header img {
    height: 70px;
    width: auto;
    margin-bottom: var(--pd20);
  }
}

.header__item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: auto;
}

@media (max-width: 480px) {
  .header__item-container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    width: 100%;
  }
}

.header__item {
  cursor: url(../assets/cursor.png) 0 28, auto;
  list-style: none;
}

.header__item:hover .english {
  display: none;
  -webkit-animation: fadein 2s;
  animation: fadein 2s;
}

.header__item:hover .japanese {
  display: block;
  -webkit-animation: fadein 2s;
  animation: fadein 2s;
}

.header li .japanese {
  display: none;
}

#header__item {
  margin-left: var(--pd10);
}

@media (max-width: 480px) {
  #header__item {
    margin-bottom: var(--pd10);
  }
}

#header__item:first-child {
  margin-left: 0;
}

#gtw,
#folio,
#linkedin,
#insta {
  height: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#gtw {
  width: 85px;
}

#folio {
  width: 37px;
}

#linkedin {
  width: 61px;
}

#insta {
  width: 73px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 480px) {
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about {
  width: 390px;
  height: auto;
}

@media (max-width: 480px) {
  .about {
    width: 100%;
  }
}

.about__subtitle {
  border-bottom: 1px solid var(--darkgrey);
}

.about__copy {
  margin-top: var(--pd20);
}

@media (max-width: 480px) {
  .about__copy {
    margin-bottom: var(--pd20);
  }
}

.misc {
  width: 390px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 480px) {
  .misc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 100%;
  }
}

.misc__current {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: var(--pd40);
}

@media (max-width: 480px) {
  .misc__current {
    margin-bottom: var(--pd20);
    margin-top: var(--pd40);
  }
}

.misc__hab, .misc__wri {
  width: 180px;
  height: auto;
}

.misc__words-title {
  border-bottom: 1px solid var(--darkgrey);
  margin-bottom: var(--pd10);
}

@media (max-width: 480px) {
  .misc__words-title {
    margin-bottom: 0;
  }
}

.misc__words-books {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 480px) {
  .misc__words-books {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
  }
}

.misc__book-imgs {
  cursor: url(../assets/cursor.png) 0 28, auto;
  width: 50%;
}

@media (max-width: 480px) {
  .misc__book-imgs img {
    padding-top: var(--pd10);
    padding-right: var(--pd10);
    width: 100%;
    height: auto;
  }
}

.misc__book-imgs:hover {
  -webkit-filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.5));
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */