@import "root.scss";
@import "breakpoints";

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.dsnbycal {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: var(--pd40);
  color: var(--lightgrey);
}

.wrapper {
  height: 640px;
  width: 900px;
  background-color: var(--lightgrey);
  padding: var(--pd40);
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.about {
  width: 390px;
  height: auto;
  &__subtitle {
    border-bottom: 1px solid var(--darkgrey);
  }
  &__copy {
    margin-top: var(--pd20);
  }
}

.misc {
  width: 390px;
  height: auto;
  &__current {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: var(--pd40);
  }
  &__hab,
  &__wri {
    width: 180px;
    height: auto;
  }
  &__words-title {
    border-bottom: 1px solid var(--darkgrey);
    margin-bottom: var(--pd10);
  }
  &__words-books {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
