@import "root.scss";
@import "breakpoints";

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.dsnbycal {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: var(--pd20);
  color: var(--lightgrey);
}

.bg {
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.wrapper {
  height: 640px;
  width: 900px;
  background-color: var(--lightgrey);
  padding: var(--pd40);
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  &__item-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    height: fit-content;
    width: auto;
  }
  &__item {
    list-style: none;
    margin-left: var(--pd10);
  }
  &__item:hover .english {
    display: none;
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    -ms-animation: fadein 2s;
    -o-animation: fadein 2s;
    animation: fadein 2s;
  }
  &__item:hover .japanese {
    display: block;
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    -ms-animation: fadein 2s;
    -o-animation: fadein 2s;
    animation: fadein 2s;
  }
  li .japanese {
    display: none;
  }
  display: flex;
  justify-content: space-between;
}

#gtw,
#folio,
#linkedin,
#insta {
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#gtw {
  width: 85px;
}
#folio {
  width: 37px;
}
#linkedin {
  width: 61px;
}
#insta {
  width: 73px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.about {
  width: 390px;
  height: auto;
  &__subtitle {
    border-bottom: 1px solid var(--darkgrey);
  }
  &__copy {
    margin-top: var(--pd20);
  }
}

.misc {
  width: 390px;
  height: auto;
  &__current {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: var(--pd40);
  }
  &__hab,
  &__wri {
    width: 180px;
    height: auto;
  }
  &__words-title {
    border-bottom: 1px solid var(--darkgrey);
    margin-bottom: var(--pd10);
  }
  &__words-books {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  &__book-imgs:hover {
    -webkit-animation: blur 0.5s;
    -moz-animation: blur 0.5s;
    -ms-animation: blur 0.5s;
    -o-animation: blur 0.5s;
    animation: blur 0.5s;
    animation-fill-mode: forwards;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes blur {
  from {
    -webkit-filter: blur(0px); /* Safari 6.0 - 9.0 */
    filter: blur(0px);
  }
  to {
    -webkit-filter: blur(3px); /* Safari 6.0 - 9.0 */
    filter: blur(3px);
  }
}

@-moz-keyframes blur {
  from {
    -webkit-filter: blur(0px); /* Safari 6.0 - 9.0 */
    filter: blur(0px);
  }
  to {
    -webkit-filter: blur(3px); /* Safari 6.0 - 9.0 */
    filter: blur(3px);
  }
}

@-webkit-keyframes blur {
  from {
    -webkit-filter: blur(0px); /* Safari 6.0 - 9.0 */
    filter: blur(0px);
  }
  to {
    -webkit-filter: blur(3px); /* Safari 6.0 - 9.0 */
    filter: blur(3px);
  }
}

@-ms-keyframes blur {
  from {
    -webkit-filter: blur(0px); /* Safari 6.0 - 9.0 */
    filter: blur(0px);
  }
  to {
    -webkit-filter: blur(3px); /* Safari 6.0 - 9.0 */
    filter: blur(3px);
  }
}

@-o-keyframes blur {
  from {
    -webkit-filter: blur(0px); /* Safari 6.0 - 9.0 */
    filter: blur(0px);
  }
  to {
    -webkit-filter: blur(3px); /* Safari 6.0 - 9.0 */
    filter: blur(3px);
  }
}
