:root {
  --lightgrey: #f5f5f5;
  --darkgrey: #282828;
  --black: black;
  --white: white;
  --h1: 24px;
  --h2: 18px;
  --b1: 14px;
  --b2: 12px;
  --caption: 8px;
  --pd40: 40px;
  --pd20: 20px;
  --pd10: 10px;
}

*,
:after,
:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  text-decoration: inherit;
  color: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

a {
  text-decoration: underline;
}

.h1 {
  font-size: var(--h1);
  text-transform: uppercase;
  color: var(--darkgrey);
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 26.4px;
}

.h2 {
  font-size: var(--h2);
  text-transform: uppercase;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 19.8px;
}

.b1 {
  font-size: var(--b1);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 15.4px;
}

.b2 {
  font-size: var(--b2);
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 9.6px;
}

.btn {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
  font-size: var(--b2);
  line-height: 9.6px;
  border: 1px solid var(--darkgrey);
  display: inline-block;
  padding: var(--pd10);
  cursor: pointer;
}

.caption {
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--caption);
  line-height: 9.6px;
}

/**
*
* Testing
*
**/
html,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.dsnbycal {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: var(--pd20);
  color: var(--lightgrey);
}

.bg {
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.wrapper {
  height: 640px;
  width: 900px;
  background-color: var(--lightgrey);
  padding: var(--pd40);
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: auto;
}

.header__item {
  list-style: none;
  margin-left: var(--pd10);
}

.header__item:hover .english {
  display: none;
}

.header__item:hover .japanese {
  display: block;
}

.header li .japanese {
  display: none;
}

#gtw,
#folio,
#linkedin,
#insta {
  height: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#gtw {
  width: 85px;
}

#folio {
  width: 37px;
}

#linkedin {
  width: 61px;
}

#insta {
  width: 73px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.about {
  width: 390px;
  height: auto;
}

.about__subtitle {
  border-bottom: 1px solid var(--darkgrey);
}

.about__copy {
  margin-top: var(--pd20);
}

.misc {
  width: 390px;
  height: auto;
}

.misc__current {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: var(--pd40);
}

.misc__hab, .misc__wri {
  width: 180px;
  height: auto;
}

.misc__words-title {
  border-bottom: 1px solid var(--darkgrey);
  margin-bottom: var(--pd10);
}

.misc__words-books {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
/*# sourceMappingURL=main.css.map */